{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Vincent LHMTE Art{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}" class="link-underline">Retourner à mon compte </a><br/>
    <hr>
    {% if notification %}
    <div class="success-info">{{ notification }}</div>
    {% endif %}
    {% if notificationError %}
    <div class="alert-info">{{ notificationError }}</div>
    {% endif %}
    <div class="login-form">
        {{ form(form) }}
    </div>
    <hr>


{% endblock %}