{% extends "base.html.twig" %}

{% block content %}
<div class="container-mentions">
    <h1>Conditions Générales de Vente</h1>

    <h3>OBJET ET OPPOSABILITÉ DES CGV</h3>
    <p>Le Site internet de VINCENT LHMTE ART a pour objet de présenter les Œuvres de l’artiste (ci-après le« Vendeur ») aux utilisateurs du site (potentiels « Acheteurs »), et leur donne la possibilité de les découvrir et les acheter en ligne directement auprès du Vendeur.</p>
    <p>Les présentes conditions générales de vente ont pour objet de définir les modalités et conditions de vente en ligne des Œuvres présentes sur le site, et de définir les droits et obligations des parties dans cette relation.</p>
    <p>Les ventes effectuées à travers le Site sont conclues directement entre l’Acheteur et le Vendeur. VINCENT LHMTE ART n’est en aucun cas revendeur des Œuvres proposées par le Vendeur par l’intermédiaire du Site. VINCENT LHMTE ART agit en tant que simple intermédiaire dans le seul cadre de la mise à disposition du Site permettant la mise en relation du Vendeur et des Acheteurs.</p>
    <p>En conséquence, VINCENT LHMTE ART n’est pas partie au contrat de vente qui est conclu uniquement entre l’Acheteur et le Vendeur, lequel est seul vendeur des Œuvres et est seul tenu des obligations qui en découlent.</p>
    
    <h3>ACCEPTATION</h3>
    <p>L’acceptation sans réserve de l’intégralité des présentes conditions générales de vente est indispensable à la conclusion du contrat de vente, tant par le Vendeur que l’Acheteur. Cette acceptation se matérialise par une case à cocher dans le formulaire de commande de l’Œuvre.</p>
    
    <h3>COMMANDE</h3>
    <p>Les Œuvres sont proposées à la vente sur le Site par le Vendeur, sous réserve de leur disponibilité. Chaque Œuvre proposée est accompagnée d’une brève fiche descriptive comportant les informations relatives notamment à son support, ses dimensions, son poids et sa nature.</p>
    <p>Pour commander une Œuvre, l’Acheteur doit sélectionner l’Œuvre de son choix, la placer dans son panier et renseigner les informations nécessaires le concernant pour la commande (ou s’identifier, s’il possède un compte Utilisateur). Avant de confirmer sa commande, l’Acheteur doit vérifier les informations contenues dans le récapitulatif de la commande, et a la possibilité de corriger d’éventuelles erreurs dans les éléments saisis, ainsi que de prendre connaissance des frais de livraison.</p>
    <p>L’Acheteur ne sera pas débité du paiement avant la validation de son offre d’achat, réalisée sous 48 heures par VINCENT LHMTE ART, afin d’assurer la disponibilité de l’Œuvre auprès du Vendeur. Dans l’hypothèse où l’Œuvre ne serait plus disponible, un email en informant l’Acheteur sera envoyé dans un délai de 48 heures, entrainant l’annulation de la commande.</p>
    
    <h3>PRIX DE VENTE ET MODALITÉS DE PAIEMENT</h3>
    <p>Le prix de vente des Œuvres est affiché sur le Site dans la devise déterminée par l’Acheteur et comprend toutes les taxes, à l’exception des frais de livraison et d’emballage le cas échéant. Les différents modes de livraison possibles et les frais y afférents sont indiqués au moment du récapitulatif de la commande. Les frais de livraison et d’emballage dépendent de la nature de l’œuvre, ses dimensions, son poids, ainsi que du lieu de livraison.</p>
    <p>Le paiement du prix de l’œuvre par l’Acheteur au Vendeur s’effectue via les services de paiement mis à disposition par VINCENT LHMTE ART : carte bancaires. Le transfert de propriété intervient une fois l’intégralité du prix payé par l’Acheteur. En cas de non-paiement de la totalité du prix, la vente sera automatiquement annulée, et l’œuvre remise en vente sur le site de VINCENT LHMTE ART.</p>
    
    <h3>LIVRAISON DES ŒUVRES</h3>
    <p>La livraison des Œuvres commandées est réalisée à l’adresse indiquée dans le formulaire récapitulatif de la commande, pendant les heures ouvrables et selon les modalités prévues par le prestataire de livraison déterminé lors de la commande.</p>
    <p>L’Acheteur a l’obligation de se renseigner sur les modalités et les délais de livraison mis en œuvre par les différents prestataires de livraison. Les obligations concernant la livraison de la commande, à savoir le respect des délais annoncés, la qualité de l’emballage de l’œuvre, ainsi que la conformité de celle-ci pèsent uniquement sur le Vendeur, la responsabilité de VINCENT LHMTE ART ne pouvant aucunement être engagée en cas de manquement du Vendeur, ce dernier pouvant exercer une réclamation contre le prestataire de livraison.</p>
    <p>L’Acheteur s’oblige, dès la réception de la commande à vérifier l’état de l’œuvre, et émettre toute réserve par écrit et sans délai, au plus tard dans les 48 heures, auprès de VINCENT LHMTE ART, qui les transmettra au Vendeur.</p>
    
    <h3>DROIT DE RÉTRACTATION</h3>
    <p>En application de l’article L.121-21 (loi du 17 mars 2014 relative à la consommation) du code de la consommation, l’Acheteur dispose d’un délai de 14 jours à compter de la livraison de l’Œuvre pour mettre en œuvre son droit de rétractation auprès du Vendeur, sans frais et sans motif.</p>
    <p>L’Acheteur exerce son droit de rétractation auprès de VINCENT LHMTE ART par envoi d’un mail à l’adresse suivante contact@vincentlhmte.com. VINCENT LHMTE ART fera alors son affaire de la demande de rétractation de l’Acheteur et procédera à son remboursement dans les 14 jours qui suivent la date à laquelle VINCENT LHMTE ART a été informé de l’exercice du droit de rétractation de l’Acheteur. Le remboursement portera sur le prix de l’œuvre payé par l’Acheteur ainsi que les frais de retour. Les œuvres retournées endommagées ou salies par l’Acheteur ne seront ni reprises, ni remboursées, VINCENT LHMTE ART se réservant ce choix à sa seule discrétion.</p>
    
    <h3>GARANTIES LÉGALES</h3>
    <p>Le Vendeur s’engage à respecter et mettre en œuvre les garanties légales dont bénéficie l’Acheteur, à savoir : la garantie de non-conformité et la garantie des vices cachés.</p>

    <h3>FORCE MAJEURE</h3>
    <p>L’existence d’un cas de force majeure peut suspendre l’exécution du contrat ou, si il est définitif, entraîner la résolution de la vente. De façon expresse, sont considérés comme cas de force majeure ou cas fortuits, ceux habituellement retenus par la jurisprudence des cours et tribunaux français soit un événement échappant au contrôle du débiteur, qui ne pouvait être raisonnablement prévu lors de la conclusion du contrat et dont les effets ne peuvent être évités par des mesures appropriées La partie invoquant la Force Majeure doit immédiatement en avertir l’autre partie, ainsi que de sa disparition.</p>

    <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
    <p>Le Vendeur garantit être l’auteur de l’Œuvre cédée, que l’Œuvre ne contrevient en aucune façon aux lois, aux réglementations et aux normes en vigueur et qu’elle ne porte pas atteinte aux droits des tiers.</p>
    <p>Il s’engage à garantir VINCENT LHMTE ART et l’Acheteur en cas de recours d’un tiers concernant l’œuvre cédée, dans le cadre de la garantie d’éviction. Lors de la vente, le Vendeur cède à l’Acheteur le support matériel de l’œuvre et ses droits de représentation sur l’œuvre. Le Vendeur conserve toutefois le droit moral sur l’œuvre vendue ainsi que les droits liés à sa reproduction.</p>
    
    <h3>PROTECTION DES DONNÉES</h3>
    <p>VINCENT LHMTE ART collecte et conserve les données personnelles de l’Acheteur et du Vendeur pour la bonne exécution des présentes. En application la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés individuelles, l’Acheteur dispose d’un droit d’accès, de modification, de rectification et de suppression des données à caractère personnel le concernant traitées via le Site lors de la commande, ainsi que du droit de s’opposer à la communication de ces données à des tiers pour de justes motifs en adressant une demande à l’adresse suivante : contact@vincentlhmteart.com.</p>
    <p>Les données à caractère personnel communiquées par l’Acheteur seront détruites au plus tard six mois après la suppression du compte Acheteur. VINCENT LHMTE ART se réserve le droit de conserver certaines données afin de justifier, le cas échéant, de la parfaite exécution de ses obligations contractuelles ou légales. Les données ainsi conservées seront limitées à ce qui est strictement nécessaire à l’exploitation du service. VINCENT LHMTE ART s’engage à mettre toutes les mesures en place permettant au mieux de protéger la confidentialité des informations fournies par l’Acheteur et le Vendeur.</p>
    
    <h3>LOI APPLICABLE</h3>
    <p>Les présentes conditions générales de vente sont régies par le droit français.</p>
    
    
    <h3>MÉDIATION</h3>
    <p>En cas de litige, l’Acheteur dispose d’un droit de recours à un médiateur de la consommation en vue de la résolution amiable de tout litige portant sur l’exécution des présentes CGV, tel que prévu aux articles L.611-1 et suivants ainsi que R.612-1 et suivants du Code de la Consommation.</p>
    
    <h3>JURIDICTION COMPÉTENTE</h3>
    <p>Tout litige portant sur la validité, l’interprétation ou l’exécution des présentes Conditions Générales de Vente devra être porté devant les tribunaux de Paris.</p>




</div>

{% endblock %}