{% extends "base.html.twig" %}

{% block content %}
<div class="container-mentions">
    <h1>MENTIONS LEGALES</h1>

    <h2>Identification</h2>

    <h3>Propriété intellectuelle</h3>

    <p>Tous les textes, commentaires, ouvrages, illustrations, œuvres et images reproduits ou représentés sur le Site sont strictement réservés au titre du droit d’auteur ainsi qu’au titre de la propriété intellectuelle, pour toute la durée de protection de ces droits et pour le monde entier. À ce titre et conformément aux dispositions du Code de la propriété intellectuelle, seule l’utilisation pour un usage privé, sous réserve de dispositions différentes voire plus restrictives du code de la propriété intellectuelle, est autorisée.</p>
    <p>Le site Internet www.artsper.com est déclaré auprès de la CNIL (Commission Nationale de l’Informatique et des Libertés) sous le numéro 1651626. </p>   
    <p>Toute reproduction, représentation, modification ou adaptation totale ou partielle du Site et/ou de tout ou partie des éléments se trouvant sur le Site ou qui y sont incorporés est strictement interdite.</p>   
    <p> Les utilisateurs s’engagent à faire leurs meilleurs efforts pour signaler à VINCENT LHMTE ART toute violation de droit de propriété intellectuelle qu’ils constateraient.</p> 
       
    <h3>Cookies</h3>
    <p>Les « cookies » sont un bloc de données qui servent à enregistrer des données concernant la navigation d’un internaute sur un site Internet. Les « cookies » ne permettent pas d’identifier un internaute.</p>
    <p>VINCENT LHMTE ART informe les internautes que de tels « cookies » peuvent s’installer de manière automatique sur leurs logiciels de navigation Internet.</p>
    <p> Le paramétrage du logiciel de navigation permet d’informer de la présence de « cookies » et éventuellement de les refuser en se référant aux instructions des différents logiciels de navigation de chaque internaute. </p>
    <p>Les internautes disposent d’un droit d’accès, de retrait et de modification des données personnelles communiquées par le biais de « cookies » dans les conditions indiquées à l’article 4 « Données personnelles ».VINCENT LHMTE ART attire l’attention des internautes sur le fait que, pour des raisons techniques, le fait de désactiver les «cookies» peut restreindre l’accès des internautes au site.</p>

    <h3>Données personnelles</h3>
    <p>Les informations et données concernant les utilisateurs sont traitées par VINCENT LHMTE ART. Sauf mention contraire, elles sont indispensables à la gestion de leur compte et de leur accès au service. Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires incombant, le cas échéant, à VINCENT LHMTE ART , et ainsi que pour nous permettre d’améliorer et personnaliser les services que nous proposons aux utilisateurs et les informations que nous leur adressons.</p>
    <p>Conformément à la loi dite « informatique et libertés  » du 6 janvier 1978, les utilisateurs disposent d’un droit d’opposition, d’accès, de rectification et de suppression sur les données personnelles les concernant, dans les conditions prévues par la loi. Pour les exercer, il leur suffit de nous écrire en ligne via le formulaire de contact ou par courrier à VINCENT LHMTE ART en nous indiquant leurs nom, prénom, e-mail et adresse. Conformément à la réglementation en vigueur, leur demande doit être signée et accompagnée de la photocopie d’un titre d’identité portant leur signature et préciser l’adresse à laquelle VINCENT LHMTE ART doit leur faire parvenir la réponse. Une réponse leur sera alors adressée dans un délai maximum de 2 mois suivant la réception de la demande.</p>
    <p>Ils seront susceptibles de recevoir des offres de notre société et de nos partenaires, en fonction de leurs choix émis lors de la création ou de la consultation de leur compte. S’ils ne le souhaitent plus, ils peuvent à tout moment nous en faire la demande en le précisant dans « Mon compte ».</p>

    <h3>Garanties et limitations de responsabilité</h3>
    <p>VINCENT LHMTE ART fait ses meilleurs efforts afin de rendre le Site disponible 24 heures sur 24 et 7 jours sur 7, indépendamment des opérations de maintenance programmées, sous réserve des dispositions du présent article.</p>
    <p>L’accès au Site et aux contenus est fourni sur la base d’un service « en l’état » et accessible en fonction de sa disponibilité.</p>
    <p>VINCENT LHMTE ART ne fournit aucune garantie expresse ou implicite sur l’intangibilité de tout ou partie du Site, aux contenus et sa permanente accessibilité. VINCENT LHMTE ART ne peut garantir que certaines caractéristiques des produits (notamment les couleurs) présentés sur le Site reproduisent exactement les produits ; la fidélité dépendant en partie de la qualité de rendu des couleurs de l’équipement informatique de chaque internaute.VINCENT LHMTE ART s’engage à faire ses meilleurs efforts pour assurer l’exploitation du Site et son accès dans les meilleures conditions.</p>
    <p>Tout internaute s’engage à ne pas divulguer à un tiers ses identifiants personnels concernant le Site ainsi qu’à prévenir sans délai le Service Relation Clients de VINCENT LHMTE ART en cas de perte, vol ou d’usage frauduleux de ses identifiants personnels.</p>
    <p>En toute hypothèse, VINCENT LHMTE ART ne saurait être responsable en cas d’accès au Site ou d’utilisation des services du Site par un internaute non-conforme aux présentes et notamment en cas d’accès aux services du fait de fraude, perte, vol ou communication des identifiants personnels. De même, le fait d’accéder au Site implique l’acceptation par l’internaute des caractéristiques particulières du réseau Internet ainsi que des risques et aléas qui y sont associés (temps de réponse, risques liés aux échanges d’informations, piratage des données, présence de virus informatiques).</p>
    <p>L’internaute assumant seul l’entière responsabilité de toute visite et navigation sur le Site, VINCENT LHMTE ART ne saurait encourir une quelconque responsabilité en cas de dommage direct ou indirect subi par ou causé à tout internaute découlant d’une utilisation inappropriée ou par négligence d’un ordinateur ou tout outil informatique, d’un défaut de maintenance du matériel ou d’accès Internet, et plus généralement de tout dysfonctionnement des serveurs, lignes téléphoniques, connexions ADSL, ou autre.</p>
    <p>Le Site est susceptible de contenir des liens vers d’autres sites internet qui demeurent hors du contrôle de VINCENT LHMTE ART. VINCENT LHMTE ART décline toute responsabilité en cas de non-respect des règles concernant la protection des données ou le contenu de ces sites internet.</p>

    <h3>Modification des mentions</h3>
    <p>VINCENT LHMTE ART se réserve le droit de modifier le présent document à tout moment. La version du présent document en vigueur et applicable au jour de chaque visite du Site figure dans la rubrique « Mentions légales » du Site. VINCENT LHMTE ART invite donc les internautes à consulter régulièrement le présent document.</p>

    <h3>Loi applicable et attribution de juridiction</h3>
    <p>Les présentes mentions sont établies et régies par le droit français. Sauf disposition d’ordre public contraire, tout litige lié a l’interpretation, la validité et les consequences des présentes mentions, sera exclusivement tranché par les juridictions françaises territorialement compétentes.</p>
    <p>Compte tenu de la dimension mondiale du réseau Internet, VINCENT LHMTE ART informe que tout internaute doit se conformer à toutes les règles applicables dans le pays de résidence des internautes.</p>





</div>



{% endblock %}