{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Vincent LHMTE Art{% endblock %}

{% block content %}

    <h1>Réinitialiser mon mot de passe</h1>

    <form method="post" class="login-form account-form">

        {% for message in app.flashes('notice') %}
            <div class="success-info"> {{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('notice2') %}
            <div class="alert-info"> {{ message }}</div>
        {% endfor %}

        <p>Saissez votre email et je vous enverrai un lien pour réinitialiser votre mot de passe.</p>

        <label for="inputEmail" placeholder="Votre adresse email">Votre email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    
        <button class="admin-btn" type="submit">Réinitialiser le mot de passe</button>

        <p>Ou souhaitez-vous <a href="{{ path('app_login')}}" class="link-underline" >vous connecter</a>?</p>

    </form>

{% endblock %}

