{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Vincent LHMTE Art{% endblock %}

{% block content %}

    <div class="login-form account-form">
    
        <h1>Réinitialiser mon mot de passe</h1>

        {% for message in app.flashes('notice') %}
            <div class="success-info"> {{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('notice2') %}
            <div class="alert-info"> {{ message }}</div>
        {% endfor %}

        {{ form(form) }}

    </div>

{% endblock %}