/********** 10. ACCOUNT **********/
// template : account/index.html.twig
.account-item {
    background-color: var(--color-bg);
    padding: 30px;
    text-align: center;
    margin-top: 15px;

    img {
        margin-bottom: 10px;
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        font-size: 13px;
        color: var(--color-blue);
        font-weight: bold;
        transition: 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media only screen and (min-width: 768px) {
    .account-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}


/********** 10.3 Account Adresses **********/
// template : account/address.html.twig
.address-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
   
}

.address-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.address-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 30px;
    margin: 15px;
    border-radius: 3px;
    background-color: var(--color-bg);
}

// Add new address Form
// template : account/address_form.html.twig
form {
    width: 100%;
}

.form-name {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 400px) {
    form {
        width: unset;
    }
}

/********** 10.4 Account Order **********/
// template : account/order.html.twig
.order-card {
    max-width: 450px;
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
    background-color: var(--color-bg);
}

.order-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    span {
        text-align: end;
        font-size: 0.8rem;
    }
    p {
        font-weight: 800;
        font-size: 0.8rem;
    }
    &:last-child {
        justify-self: center;
    }
}

.order-btn {
    padding: 6px 10px;
}

@media only screen and (min-width: 375px) {
    .order-card-info p, .order-card-info span{
        font-size: 1rem;
    }
}