/********** 12. DELIVERY OPTIONS **********/
.carrier-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    margin: 25px 0;
}

@media only screen and (min-width: 768px) {
    .carrier-container {
        flex-direction: row;
    }
}