/****** Variables ********/
:root {
    --color-blue: #192A3D;
    --color-bg: #F2F5F7;
}

* {
    font-family: Josefin Sans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-blue);
    font-size: 1em;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
}
main {
    min-height: 70vh;
    padding-top: 50px;
}

li {
    list-style: none;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 30px;
}
h2 {
    font-size: 2.1em;
    font-weight: 400;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 30px 0 15px 0;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
}

.mb15 {
    margin-bottom: 15px;
}
.mt15{
    margin-top: 15px;
}

.container {
    /* padding: 0 20px; */
    padding: 50px 20px 20px 20px;
}

/* ------------------ Messages Flash ----------------- */
.alert-info, .text-alert, .success-info {
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
    width: fit-content;
}
.alert-info, .text-alert {
    color: #a00000;
    background: #f8d7da;
}
.success-info {
    color: var(--color-blue);
    background: #d4edda;

}
/* ---------------------------------------------------- */

/* ------------------- HEADER ------------------------- */
header {
    min-height: 15vh;
    position: sticky;
    top: 0;
    background-color: #F2F5F7;
    /* height: 150px; */
    display: flex;
    align-items: center;
}
.account-logo {
    display: flex;
    align-items: center;
    height: 24px;
    display: none;
    
}
.cart-link a {
    display: flex;
    align-items: center;
    gap: 5px;

}
@media only screen and (max-width: 1224px) {
    .account-link {
        display: none;
    }
    .account-logo {
        display: unset;
    }
}

/* ---------------- BURGER NAV --------------*/

.menuToggle {
    display: block;
    position: absolute;
    top: 55px;
    right: 30px;
    z-index: 1;
}
  
.menuToggle a {
    color: #192a3d;
}
  
.menuToggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
  
.menuToggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #192a3d;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
  
.menuToggle span:first-child {
    transform-origin: 0% 0%;
}
  
.menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
  
  
.menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(408deg) translate(-2px, -1px);
    background: #192a3d;
}
  
.menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
  
.menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
  
.menu {
    background-color: #F2F5F7;
    font-weight: 400;
    position: absolute;
    width: 100vw;
    right: -30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    gap: 35px;
    margin: -107px 0 0 0;
    padding: 150px 50px 50px 50px;
    background: #F2F5F7;
    transform: translate(0, -100%);
    transition: transform 0.6s cubic-bezier(0.77,0.2,0.05,1.0);
}
  
.menu li {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 1em;
}
  
.menuToggle input:checked ~ ul {
    transform: none;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    height: 35px;
    z-index: 10;
    right: 80px;
}
.cart-icon {
    margin-left: 10px;
}

@media only screen and (min-width: 1024px) {
    .menuToggle {
        display: flex;
        position: relative;
        height: 35px;
        top: 0;
        right: 0;
        padding: 0;
    }
    .menuToggle input {
        display: none;
    }
    
    .menuToggle span {
        display: none;
    }
    .menu {
        position: relative;
        right: 0;
        flex-direction: row;
        gap: 35px;
        
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 0;
        transform: none;
        transition: none;
    }
    
    .menu li {
        padding: 10px 5px;
        position: relative;

    }
    .cart-link {
        right: 50px;
    }

/* ---------- HOVER EFFECT NAV UNDERLINE ------------*/

    .menu li a::before {
        content: "";
        position: absolute;
        background-color: #192a3d;
        height: 2px;
        width: 0;
        right: 50%;
        bottom: -5px;
        transition: 0.2s;
    }
    .menu li a::after {
        content: "";
        position: absolute;
        background-color: #192a3d;
        height: 2px;
        width: 0;
        left: 50%;
        bottom: -5px;
        transition: 0.2s;
    }

    .menu li a:hover::before, .menu a:hover::after {
        width: 50%;
    }

    .menu li a.active::after {
        content: "";
        position: absolute;
        background-color: #192a3d;
        left: 0;
        height: 2px;
        width: 100%;
        bottom: -5px;
    }
}


/*------------------ MAIN --------------------*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    /* margin-bottom: 50px; */
    /* margin: 50px 0; */
}

/* HOME PAGE */
.container-home {
    width: 100%;
    max-width: 1290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.container-home p {
    line-height: 1.6em;
    margin-bottom: 20px;
}

.home-img img {
    width: 100%;
}

.quote {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2em;
    margin: 30px 0 65px 0;
}

@media only screen and (min-width: 1024px) {
    .container-description {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 34px;
    }
}

.square-paint-container, .zoomed-paint-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.square-paint-container img{
    width: 30%;
}

.zoomed-paint-container img {
    width: 48%;
}
.primary-img {
    width: 100%;
}

.home-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 80%;
    text-transform: uppercase;
    margin: 50px 0;
    border: 1px solid var(--color-blue);
    border-radius: 3px;
}

.container-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin: 50px 0;
}

.card-reviews {
    text-align: center;
}
.container-review h2, .card-reviews p {
    margin: 0;
}
.card-reviews p:first-child{
    margin-bottom: 10px;
}

.container-assurance {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    text-align: center;
    margin-top: 50px;
}

.container-assurance h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    margin: 20px 0;
}
@media only screen and (min-width: 768px) {
    .container-assurance {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1024px) {
    .home-cta {
        width: 40%;
    }
    .home-cta:hover{
        background-color: var(--color-blue);
        box-shadow: inset 5em 0 0 0 var(--color-blue),
        inset -5em 0 0 0 var(--color-blue);
        border-color: var(--color-blue);
        color: #ffff;
        transition:all 0.4s;
    }
    .container-assurance {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}




/*----------- Fil d'Arriane -----------------*/
.breadcrumb {
    margin-bottom: 30px;
    align-self: flex-start;
}

.breadcrumb ul {
    display: flex;
}

.breadcrumb li::before {
    content: ">";
    margin: 0 8px;
}
    
.breadcrumb li:first-child::before {
    content: "";
    margin: 0;
}

/*---------------- FOOTER ---------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 150px; */
    min-height: 15vh;
    text-align: center;
    width: 100%;
    background-color: #F2F5F7;
    /* margin-top: 50px; */
}

.footer-nav {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

footer p {
    font-size: 12px;
    font-weight: 400;
}
footer a:hover {
    opacity: 0.7;
}

/*------------------- PRODUCT PAGE -----------------------*/

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 16px;
    font-weight: 600;
}

.product-price {
    margin-bottom: 15px;
}

.product-container {
    max-width: 1290px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 150px;
}

.img-product {
    height: 100%;
    width: 100%;
}


.card-img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 400px;
    max-width: 300px;
    
}

.card-img:hover {
    animation: 0.8s ease fade;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.product-item h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom:1px;
}

.product-card {
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.product-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-cart {
    padding: 12px 20px;
    border: 1px solid var(--color-blue);
    border-radius: 3px;
    transition: all 0.3s;
    margin-top: 80px;
}

.add-cart:hover {
    background-color: var(--color-blue);
    box-shadow: inset 5em 0 0 0 var(--color-blue),
        inset -5em 0 0 0 var(--color-blue);
    border-color: var(--color-blue);
    color: #ffff;
}

@media only screen and (min-width: 768px) {
    .product-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1024px) {
    .product-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1424px) {
    .product-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* ----------------- BOUTON FILTRES ------------------------ */
.filtres {
    padding: 5px 15px;
    width: 108px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-blue);
}
.filtres h5 {
    font-weight: 400;
    color: white;
    font-size: 18px;
}
.menuToggle2 {
    position: relative;
    z-index: 5;
}

.filter-container {
    width: 100%;
    max-width: 1290px;
}

.filter-input {
    position: absolute;
    z-index: 5;
    width: 108px;
    height: 32px;
    top: -33px;
    opacity: 0;
    cursor: pointer;
}

.menu2 {
    background-color: #F2F5F7;
    font-weight: 400;
    position: absolute;
    top: 25px;
    width: 100%;
    background: #F2F5F7;
    transform: translate(-300%, 0);
    transition: transform 0.6s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menuToggle2 input:checked ~ .menu2 {
    transform: none;
}

.search-input {
    height: 25px;
}

@media only screen and (min-width: 1024px) {
    .menu2 {
        width: 48%;
    }
}

/*------------------ Page Exhibition -----------------------*/

.container-exhibition {
    max-width: 1290px;
    width: 100%;
}
.exhibitions-description {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exhibitions-description img {
    width: 100%;
    max-width: 800px;
}

.exhibitions-text {
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 1.8em;
}

/*------------- Page contact -------------*/

.container-contact {
    max-width: 1290px;
    width: 100%;
}

.contact-form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form form {
    width: 100%;
    max-width: 600px;
}
.contact-form label {
    font-size: 1em;
    font-weight: 600;
    width: 100%;
}

.input-form {
    width: 100%;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 12px 12px;
    /* margin: 15px 0; */
}
.input-text {
    height: 100px;
}

.contact-btn {
    background-color: white;
    padding: 12px 40px;
    border: 1px solid var(--color-blue);
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
}
.contact-btn:hover {
    background-color: var(--color-blue);
    box-shadow: inset 5em 0 0 0 var(--color-blue), inset -5em 0 0 0 var(--color-blue);
    border-color: var(--color-blue);
    color: #ffff;
}

.contact-info {
    text-align: center;
}
.contact-info p {
    margin: 30px 0;
}
.contact-info p:first-child {
    font-size: 1.2em;
}


/*------------ PAGE Mon compte ------------*/
.admin-btn, .login-form button, .filter-btn  {
    text-align: center;
    background-color: var(--color-blue);
    color: #ffff;
    padding: 12px 20px;
    border: transparent;
    border-radius: 3px;
    cursor: pointer;
    /* margin-bottom: 10px; */
}


.admin-btn:hover {
    color: white
}
.admin-text {
    margin: 20px 0;
    font-weight: 600;
}

.link-underline{
    text-decoration: underline;
}

/*--------------- Page Login ---------------*/
.register-container {
    max-width: 450px;
    width: 100%;
    margin-bottom: 50px;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 450px;
}
.account-form {
    gap: 12px;
}
.form-group select {
    height: 35px;
}

.login-form input {
    height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.login-form button:hover {
    transition: 0.3s;
    opacity: 0.9;
}

.login-container p {
    margin: 15px 0;
}

.login-link {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .account-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
  }
/* ------------------------------------------------- */

/*------------------------ FORM ---------------------*/
.register-form {
    width: 100%;
    max-width: 800px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.required {
    margin-bottom: 5px;
}


  /*---------------- PANIER ---------------------*/
.cart-container, .cart-tab {
    width: 100%;
    max-width: 800px;
}

.cart-tab {
    margin: 20px 0;
}


.cart-img {
    height: 150px;
    width: 120px;
    object-fit: cover;
}

.cart-total {
    margin-bottom: 30px;
}
.cart-total p {
    margin-bottom: 20px;
}

.cart-desc {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.cart-desc th:nth-child(3) {
    margin-left: 50px;
}

.cart-desc::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -10px;
    background-color: var(--color-blue);
}

/* ------------------------------------------------ */

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    background-color: var(--color-bg);
    padding: 20px 45px 20px 20px;
    margin-top: 10px;
    border-radius: 3px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: var(--color-bg);
    padding: 20px;
    margin-top: 10px;
}

.account-item {
    background-color: var(--color-bg);
    padding: 30px;
    text-align: center;
    margin-top: 15px;
}
.account-item img {
    margin-bottom: 10px;
}
.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: var(--color-blue);
    font-weight: bold;
}
.account-item a:hover {
    color: var(--color-blue);
    opacity: 0.7;
    text-decoration: none;
}

/* ---------------OPTIONS DE LIVRAISON --------------- */
.carrier-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    margin: 25px 0;
}

@media only screen and (min-width: 768px) {
    .carrier-container {
        flex-direction: row;
    }
}

.cart-recap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 15px;
}

/* ----------ORDER RECAP----------------- */

.sub-total{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.recap-card {
margin-bottom: 25px;
}


/* ----------- Gérer mes adresses ----------- */
.address-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.address-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.address-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 30px;
    margin: 15px;
    border-radius: 3px;
    background-color: var(--color-bg);
}
form {
    width: 100%;
}
@media only screen and (min-width: 400px) {
    form {
        width: unset;
    }
}


.form-name {
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
}



/*--------------- Account Order Table ----------------*/
.order-table {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    border: 1px solid #ced4da;
}
.order-table tr {
    height: 40px;
}

.order-btn {
    padding: 6px 10px;
}
.title-table th {
    border-bottom: 1px solid #ced4da;
}

.order-card {
    max-width: 450px;
    width: 100%;
    padding: 25px;
    /* height: 250px; */
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
    background-color: var(--color-bg);

}
.order-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.order-card-info span {
    text-align: end;
}

.order-card div {
    background-color: var(--color-bg);
}
.order-card-btn {
    justify-self: center;
}

/* ------- ORDER DETAIL----------- */
.order-detail-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px;
    background-color: var(--color-bg);
    margin-top: 10px;
}

.order-detail-total {
    flex-direction: column;
    text-align: end;
    margin-top: 20px;
    align-self: flex-end;
    align-items: flex-end;
}
.align-left {
    text-align: start;
}

.order-detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.order-detail-card div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
}

.order-validate-address {
    background-color: var(--color-bg);
    padding: 20px 50px;
}

/* --------- PAGE SINGLE PRODUCT ------------ */
.single-product-container {
    max-width: 1290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}

.product-image-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 450px;
    max-height: 750px;
    /* width: 50%; */
    /* height: 100%; */
}


.single-product-img {
    object-fit: cover;
    height: 100%;
    /* width: 100%; */
    max-width: 300px;
    /* max-width: 400px; */
    /* max-height: 500px; */
    max-height: 550px;
    border-radius: 3px;
}

.product-image-galerie img:hover{
    cursor: pointer;
    
}
.product-image-galerie img {
    object-fit: cover;
    
}

.single-product-description {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* width: 50%; */
    max-width: 450px;
    gap: 20px;
}

.product-page-price span {
    font-size: 1.4em;
}
.product-page-price a {
    margin-left: 15px;
}

@media only screen and (min-width: 768px) {
    .single-product-img {
        max-width: 450px;
    }

}
@media only screen and (min-width: 1024px) {
    .single-product-container {
        flex-direction: row ;
        justify-content: center;
        align-items: flex-start;

    }
    .single-product-description hr{
        /* margin-top: 50px; */
        max-width: 450px;
    }
    .product-page-price a {
        margin-left: 20px;
    }
}

/* Script Galerie Photo */
@keyframes fadeIn {
    to {
      opacity:1;
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.4s ease-in 1 forwards;
  }
  
.ariane {
    max-width: 1290px;
    width: 100%;
}

/* ********** MENTIONS LEGALES *********** */

.container-mentions p {
    margin: 20px 0;
    line-height: 20px;
}

.container-mentions h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}
