{% extends 'base.html.twig' %}

{% block title %}Galerie - Vincent LHMTE Art{% endblock %}

{% block content %}
    <h1>Tableaux</h1>

    {# Bouton Filtre #}
    <div class="filter-container">
        <div class="filtres">
            <h5>Filtres</h5>
            <img src="{{ asset('assets/img/filter.png') }}" alt="Bouton Filtres des catégories" width="24px" height="24px">
        </div>
        
        <div class="menuToggle2">
            <input type="checkbox" class="filter-input" />
            
            {# Form Filter #}
            <div class="menu2">
                {{ form(form) }}
            </div>

        </div>
    </div>

    {# Galerie produit #}
    <div class="galerie-container">
        <div class="product-container">

            {% for product in products %}
                <div class="product-card">
                    {% include "product/single_product.html.twig" %}
                </div>
            {% endfor %}

        </div>
    </div>
    

{% endblock %}
