{% extends 'base.html.twig' %}

{% block content %}

    <div class="register-container">

        <h1>Inscription</h1>

        {% if notification %}
            <div class="success-info">{{ notification }}</div>
        {% endif %}

        {% if notificationError %}
            <div class="alert alert-info">{{ notificationError }}</div>
        {% endif %}
        
        <div class="login-form register-form">
            {{ form(form) }}
            <p>Déjà membre ? <a href="{{ path('app_login')}}" class="login-link">Se connecter</a>.</p>
        </div>

    </div>

{% endblock %}
