{% extends "base.html.twig" %}

{% block content %}
    <div class="container-exhibition">

        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ul>
                <li><a href="{{ path('home') }}">Bio</a></li>
                <li><span aria-current="page">Expositions</span></li>
            </ul>
        </nav>

        <h1>Expositions d'art abstrait</h1>

        <div>
            <h2>L'agenda des expositions</h2>
            <p>Venez me rencontrer et découvrir mes oeuvres lors d'une exposition</p>
        </div>

        <article class="exhibitions-description">
            <img src="{{ asset('assets/img/exposition.png') }}" alt="Exposition d'art abstrait Paris Art expo le 20 février 2022" width="100%">
            <p>PARIS ART EXPO</p>
            <p>28 rue Beaurepaire,</p>
            <p>75010 Paris</p>
        </article>

    </div>


{% endblock %}
