{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Vincent LHMTE Art{% endblock %}

{% block content %}
    <div class="container-contact">
    
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ul>
                <li><a href="{{ path('home') }}">Bio</a></li>
                <li><span aria-current="page">Contact</span></li>
            </ul>
        </nav>

        <h2>Me contacter</h2>
        <p>Vous avez une question ? Vous souhaitez un tableau unique ou une commande personnalisée ? Contactez-moi, je vous répondrai dans les meilleures délais.</p>
        {% for message in app.flashes('notice') %}
                <div class="alert alert-info"> {{ message }}</div>
        {% endfor %}

        <div class="container-form">
            <div class="contact-form">
                {{ form(form) }}
            </div>

            <div class="contact-info">
                <p>VINCENT LHMTE ART</p>
                <p>8 Rue du soleil 75000 Paris - France</p>
                <p>Email : vincent.lhmte@gmail.com</p>
            </div>
        </div>
        
    </div>
{% endblock %}
