/********** 2. HEADER **********/
header {
    min-height: 15vh;
    position: sticky;
    top: 0;
    background-color: $background;
    display: flex;
    align-items: center;
    z-index: 5;
}

/********** 2.1 Logo Account & Cart **********/
.cart-link {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    height: 35px;
    z-index: 10;
    right: 80px;

    a {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .account-logo {
        display: block;   
        height: 24px;
    }
    .account-link {
        display: none;
    }
    .cart-icon {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1224px) {
    .cart-link {
        .account-link {
            display: block;
        }
        .account-logo {
            display: none;
        }
    }
}

/********** 2.2 Navigation (Burger) **********/
/********** 2.2.1 Toggle Menu **********/
.menuToggle {
    display: block;
    position: absolute;
    top: 55px;
    right: 30px;
    z-index: 1;

    // Navigation link
    a {
        color: $darkblue;
    }
    // Burger Menu span 
    span {
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: $darkblue;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }       
        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }
    // Input déclencheur du menu
    input {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -5px;
        left: 0px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

         // Rotation des barres au clic du menu
        &:checked ~ span {
            opacity: 1;
            transform: rotate(408deg) translate(-2px, -1px);
            background: $darkblue;
        }  
        &:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }  
        &:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }
        // Slide menu
        &:checked ~ .menu {
            transform: none;
        }
    }
}

/********** 2.2.2 Menu **********/
.menu {
    background-color: $background;
    font-weight: 400;
    position: absolute;
    width: 100vw;
    right: -30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    gap: 35px;
    padding: 50px;
    transform: translateY(-125%);
    transition: transform 0.6s cubic-bezier(0.77,0.2,0.05,1.0);

    li {
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 1em;
    }
}

// Media Queries LAPTOP (> 1024px)
@media only screen and (min-width: 1024px) {
    .menuToggle {
        display: flex;
        position: relative;
        height: 35px;
        top: 0;
        right: 0;
        padding: 0;

        input {
            display: none;
        }
        
        span {
            display: none;
        }
    }
    .menu {
        position: relative;
        right: 0;
        flex-direction: row;
        gap: 35px; 
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 0;
        transform: none;
        transition: none;

        li {
            padding: 10px 5px;
            position: relative;
        }
    }
    .cart-link {
        right: 50px;
    }

    /********** 2.2.3 NAV Underline Hover Effect **********/
    .menu {
        a::before {
            content: "";
            position: absolute;
            background-color: $darkblue;
            height: 2px;
            width: 0;
            right: 50%;
            bottom: -5px;
            transition: 0.2s;
        }
        a::after {
            content: "";
            position: absolute;
            background-color: $darkblue;
            height: 2px;
            width: 0;
            left: 50%;
            bottom: -5px;
            transition: 0.2s;
        }
        a:hover::before, a:hover::after {
            width: 50%;
        }
        // Link active
        .active::after {
            content: "";
            position: absolute;
            background-color: $darkblue;
            left: 0;
            height: 2px;
            width: 100%;
            bottom: -5px;
        }
    }
}