/********** 8. EXHIBITION PAGE **********/
// Template: exhibition/index.html.twig
.container-exhibition {
    max-width: 1290px;
    width: 100%;
}

.exhibitions-description {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        max-width: 800px;
    }
    
    p {
        margin-top: 10px;
        font-weight: 600;
        text-align: center;
    }
}
