{% extends 'base.html.twig' %}

{% block title %}Page introuvable - Vincent LHMTE Art{% endblock %}

{% block content %}

<div>
    <h1>Page introuvable</h1>
    <p class="mb15">Désolé, cette pas ne semble pas être accessible pour le moment.</p>
    <a href="{{ path('home') }}" class="error-btn admin-btn mt15"> Revenir à l'accueil</a>
</div>

{% endblock %}