/* ********** 4.1 CGV & MENTIONS LEGALES *********** */
.container-mentions p {
    margin: 20px 0;
    line-height: 20px;
}

.container-mentions h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}